{{#if userName}}
<div class="personalizedContainer">
    <h2>Welcome {{userName}}!</h2>
</div>
{{else}}
<div class="signupContainer">
    <form class="form login-form">
        <div class="form-group">
            <label for="user-name">User Name:</label>
            <input class="form-input" type="text" id="user-name">
        </div>
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>
</div>
{{/if}}