{{#each posts as |post|}}

{{> post-info post }}
</div>

{{else}}
<h6 class="text-center">There are currently no post(s)</h6>
<h6 class="text-center">
    <a href="../dashboard/create/">
        Create a new post here!
    </a>
</h6>
{{/each}}
