<div class="column">
<h2 class="title">Login</h2><hr>
<div class="login">
  <div>
    <label for="user-email">Email:</label>
    <input type="text" id="user-email"/>
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="user-password"/>
  </div>
  <div>
    <button id="btnLogin" type="submit" class="button login">Login</button>
    <a href="/signup"><button type="button" class="button">Signup</button></a>
  </div>
</div>
</div>

<!-- connection to javascript file-->
<script src="/js/login.js"></script>